/* HEADER */
header {
  @include width(100%);
  @include border-bottom_col;
  position: fixed;
  top: 0;
  background-color: $default-bg_col;
  z-index: 100;
}

.header_content {
  @include total-width($desktop-width);
  @include font-setup(13px, 600);
  @include total-padding(20px 0 20px);
  @include flex(space-between);
}

/* Header Logo */
.header_logo {
  margin-left: 30px;
}

/* Header Hamburger Navigation */
.header_hamburger-nav {
  margin-right: 30px;
  font-size: 20px;
  cursor: pointer;
  position: relative;
}

// Responsive Dropdown Menu
.responsive-dropdown {
  @include width(100vw);
  @include total-padding(20px 25px);
  position: absolute;
  top: 48px;
  left: -328px;
  text-align: left;
  background-color: $default-bg_col;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);

  & > li {
    @include list_setup;
    margin-bottom: 6px;

    & > a {
      @include link-setup;
      @include font-setup(14px, 600);
      
      &:hover {
        color: $btn_col;
      } 
    }
  }

  & > li:first-child {
    height: 10px;
    width: 10px;
    margin: 0;
    background-color: $default-bg_col;
    z-index: 10;
    position: absolute;
    top: -6px;
    right: 34px;
    transform: rotate(45deg);
    border: $border-bott_col;
    border-right: none;
    border-bottom: none;
  }

  & > li:last-child {
    @include btn(10px 15px);
    @include width(100%);
    @include font-setup(14px, 600);
    @include flex(center);
    margin-bottom: 0;
    background-color: $default-bg_col;
    color: $btn_col;

    & > img {
      @include btn_img;
    }
  }
}

.responsive-dropdown.invisible {
  display: none;
}

/* Header Navbar */
.header_nav {
  display: none;
  margin-right: 30px;

  & > li {
    @include list_setup(inline-block);
    margin-right: 40px;

    & > a {
      @include link-setup;

      &:hover {
        color: $btn_col;
      }
    }
  }
  
  & > li:last-child {
    @include width(100px);
    @include btn(8px 10px);
    @include flex;
    margin-right: 0;
    background-color: $headernav-btn-bg_col;
    color: $btn_col;

    &:hover {
      background-color: $btn_col;
      color: #fff;
    }
  
    & > img {
      @include btn_img;
    }
  }
}

// "Solutions" Dropdown Menu
.dropdown-menu_container {
  position: relative;

  .dropdown-menu {
    @include width(100px);
    @include total-padding(10px 10px);
    position: absolute;
    top: 20px;
    left: -15px;
    text-align: left;
    border-radius: 7px;
    border: 1px solid #e1ddd4;
    background-color: $default-bg_col;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    display: none;


    & > li {
      @include list_setup;
      margin-bottom: 15px;

      & > a {
        @include link-setup;
        
        &:hover {
          color: $btn_col;
        } 
      }
    }

    & > li:last-child {
      margin-bottom: 0;
    }
  }
}


/* Responsive */
// Smartphone Landscape
@media all and (min-width: 667px) {
  .responsive-dropdown {
    left: -619px;
  }
}

// Tablet
@media all and (min-width: 768px) {
  .header_hamburger-nav {
    display: none;
  }

  .header_nav {
    @include flex;
  }
}

// Desktop
@media all and (min-width: 1170px) {
  .header_nav {
    margin-right: 0;
  }

  .header_logo {
    margin-left: 0;
  }
}