/* JUMBOTRON */
.jumbotron {
  @include total-width($desktop-width);
  @include total-padding(100px 0);
  @include flex;
  flex-direction: column;
}

/* Jumbotron Banner */
.jumbotron_banner {
  @include width(100%);
  @include flex;
  flex-direction: column;
}

// Jumbotron Banner Text
.jumbotron_banner__text {
  @include width(100%);
  @include total-padding(0 35px);
  @include flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 40px;

  & > h1 {
    @include font-setup(45px, 600);
    margin-bottom: 40px;
  }
}

// Jumbotron Banner Buttons
.jumbotron_banner__btns {
  @include width(100%);
  @include total-padding(0 25px);
  @include font-setup(14px, 400);
  @include flex;
  flex-direction: column;
  color: #bdb5af;

  & > a {
    @include btn(10px 15px);
    @include width(100%);
    @include font-setup(14px, 400);
    @include flex(center);
    text-decoration: none;

    & > img {
      @include btn_img;
    }
  }

  & > a:first-child {
    margin-bottom: 12px;
  }

  & > a:last-child {
    margin-top: 12px;
  }
}

/* Jumbotron Banner Link to Email */
.jumbotron_banner__linkToEmail {
  @include link-setup;
  @include font-setup(13px, 400);
  margin-top: 20px;
}


/* Jumbotron Image */
.jumbotron_img {
  @include width(100%);
  @include total-padding(30px);
  @include flex;

  & > img {
    @include total-width(100%);
  }
}


/* Responsive */
// Mobile Landscape
@media all and (min-width: 667px) {
  .jumbotron_banner__btns {
    @include flex(center);
    flex-direction: row;
  
    & > a {
      @include btn(10px 15px);
      @include width(200px);
    }
  
    & > a:first-child {
      margin-bottom: 0;
      margin-right: 15px;
    }
  
    & > a:last-child {
      margin-top: 0;
      margin-left: 15px;
    }
  }

  .jumbotron_img {
    @include total-padding(30px 50px);
  }
}

// Tablet
@media all and (min-width: 768px) {
  .jumbotron_img {
    @include total-padding(30px 90px);
  }
}

// Tablet Landscape
@media all and (min-width: 1024px) {
  .jumbotron_banner__text {
    @include total-padding(0 200px);
  }

  .jumbotron_img {
    @include total-padding(30px 200px);
  }
}

// Desktop
@media all and (min-width: 1170px) {
  .jumbotron {
    flex-direction: row;
  }

  .jumbotron_banner {
    @include width(50%);
  }

  .jumbotron_banner__text {
    @include width(100%);
    @include total-padding(0 50px 0 0);
    text-align: left;
  }

  .jumbotron_banner__btns {
    @include flex;
    @include total-padding(0);
  }

  .jumbotron_banner__linkToEmail {
   align-self: flex-start;
  }

  .jumbotron_img {
    @include width(50%);
    @include total-padding(0);
  }
}
