/* MAIN CONTENT */
main {
  @include width(100%);
  background-color: $main-content_bg-col;
}

// Main content section
.main-content_section {
  @include total-width($desktop-width);
  @include total-padding(70px 20px 70px);
  @include flex(center);
  flex-direction: column;
  text-align: center;
  border-bottom: 1px solid #bdb5af;

  & > h2 {
    @include width(65%);
    @include font-setup(24px, 600);
    margin-bottom: 20px;
  }

  & > h2:last-child {
    margin-top: 100px;
  }
}

.main-content_section.noborder {
  border-bottom: none;
}

.description_container {
  @include width(100%);
  @include flex(center);
  flex-direction: column;
}
.description {
  @include width(40%);
  @include flex(center);
  flex-direction: column;
  margin-top: 60px;
}

.description_img {
  @include width(100%);
  margin-bottom: 20px;

  & > img {
    @include width(100%);
  }
}

.description_img-safe {
  @include width(60%);
  margin-bottom: 20px;

  & > img {
    @include width(100%);
  }
}

.section_img {
  @include width(80%);
  margin-top: 80px;

  & > img {
    @include width(100%);
  }
}

// Main content section 2
.main-content_section2__container {
  @include width(100%);
  background-color: $default-bg_col;
}

.main-content_section2 {
  @include total-width($main-content_section2__width);
  @include total-padding(90px 0 90px);
  @include flex(center);
}

.section2-content {
  @include flex(center);
  flex-direction: column;
  max-width: $desktop-width;
}

.section2-img {
  @include width(85%);
  margin-bottom: 20px;

  & > img {
    @include width(100%);
  }
}

.section2-description {
  @include width(100%);
  @include flex(center);
  flex-direction: column;
  text-align: center;

  & > h2 {
    @include width(80%);
    @include font-setup(24px, 600);
    margin-bottom: 20px;
  }

  & > p {
    @include width(80%);
  }

  & > a {
    text-decoration: none;
    color: $btn_col;
    margin: 30px 0 40px;
  }
}

.section2-description_img {
  @include width(80%);

  & > img {
    @include width(100%);
  }
}

// Main content section 3
.main-content_section3 {
  @include width(100%);
  @include total-padding(90px 30px 90px);
}

.section3_content {
  @include total-width(625px);
  @include flex(center);
  flex-direction: column;
}

.section3_title {
  & h2 {
    @include font-setup(38px, 600);
    text-align: center;
    display: inline;
    margin-right: 10px;
  }

  .happy {
    max-width: 55px;
    display: inline;
  }

    & > img {
      @include width(100%);
    }
}

.section3_text {
  @include total-padding(25px 35px);
  border: 1px solid #bdb5af;
  border-radius: 5px;
  background-color: $default-bg_col;
  margin: 60px 0;
  position: relative;

  & > p {
    font-size: 15px;
    margin-bottom: 30px;
  }

  .fa-quote-left {
    position: absolute;
    top: -25px;
    left: 0;
    font-size: 45px;
    color: $btn_col;
  }
}

.section3_sub-text {
  @include flex;
}

.sub-text_imgs {
  @include flex;
  margin-right: 10px;

  .sub-text_img {
    @include width(45%);
  
    & > img {
      @include width(100%);
    }
  }

  .sub-text_img:first-child {
    margin-right: 10px;
  }
}

.sub-text_text {
  @include width(100%);

  & > span {
    display: block;
  }

  .founders-name {
    font-size: 14px;
    color: $btn_col;
  }

  .founders {
    font-size: 13px;
  }
}

.section3_btns {
  @include width(100%);
  @include total-padding(0 25px);
  @include font-setup(14px, 400);
  @include flex;
  flex-direction: column;
  color: #bdb5af;

  & > a {
    @include btn(10px 15px);
    @include width(100%);
    @include font-setup(14px, 400);
    @include flex(center);
    text-decoration: none;

    & > img {
      @include btn_img;
    }
  }

  & > a:first-child {
    margin-bottom: 12px;
  }

  & > a:last-child {
    margin-top: 12px;
  }
}

.section3_linkToEmail {
  @include link-setup;
  @include font-setup(13px, 400);
  margin-top: 20px;
}

/* Responsive */
// Smartphone Landscape
@media all and (min-width: 667px) {
  // Main content section
  .main-content_section h2 {
    @include width(100%);
  }

  .description {
    @include width(25%);
  }

  .section_img {
    @include width(45%);
  }

  .description_img-safe {
    @include width(50%);
  }

  // Main content section 2
  .section2-description p {
    @include width(90%);
  }

  .section2-description_img {
    @include width(40%);
  }

  // Main content section 3
  .section3_btns {
    @include flex(center);
    flex-direction: row;
  
    & > a {
      @include btn(10px 15px);
      @include width(200px);
    }
  
    & > a:first-child {
      margin-bottom: 0;
      margin-right: 15px;
    }
  
    & > a:last-child {
      margin-top: 0;
      margin-left: 15px;
    }
  }

  .section3_sub-text {
    @include width(50%);
  }
}

// Tablet
@media all and (min-width: 768px) {
  // Main content section
  .description_container {
    @include width(80%);
    justify-content: space-between;
    flex-direction: row;
  }

  .description {
    @include width(25%);
  }

  .section_img {
    @include width(40%);
  }

  // Main content section 2
  .section2-description p {
    @include width(75%);
    font-size: 20px;
  }

  .section2-description a {
    font-size: 22px;
  }
}

// Tablet Landscape
@media all and (min-width: 1024px) {
  // Main content section
  .description {
    @include width(17%);
  }

  .section_img {
    @include width(25%);
  }

  .description_img-safe {
    @include width(40%);
  }

  // Main content section 2
  .main-content_section2.flex-start {
    @include flex(flex-start);
  }

  .main-content_section2.flex-end {
    @include flex(flex-end);
  }

  .section2-content {
    flex-direction: row;
  }
  
  .section2-img {
    @include width(80%);
    margin-bottom: 20px;
  }
  
  .section2-description {
    @include width(45%);
    align-items: flex-start;
    text-align: left;
  
    & > h2 {
      @include width(90%);
    }
  
    & > p {
      @include width(90%);
    }
  }
  
  .section2-description_img {
    @include width(60%);
    align-self: center;
  }
}