/* VARIABLES */
// Colors
$body-bg_col: #fff;
$default-bg_col: #fff;
$headernav-btn-bg_col: #fff;
$border-bott_col: 1px solid #bdb5af;
$font_col: #58402c;
$btn_col: #30488f;

// Width
$desktop-width: 1170px;